h1{
    font-weight: normal;
}

h4{
    font-weight: normal;
}

.expense-card{
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.expense-details{
    margin-left: 1rem;
}

.expense-card button{
    margin-top: 0;
    margin-bottom: 0;
}
